body{
    display: flex;
    justify-content: center;
    padding-top: 50vh;
    transform: translateY(-25%);
}

img{
    object-fit: cover;
    object-position: center;
    display: block;
    width: 100%;
}

#primocontainer{
    height: 259px;
}

body #carousel{
    display: flex;
    flex-direction: column;
    max-width: 100px;
    height: 253px;
}

body #carousel img{
    height: 51px;  
}
